body
    background-color #f6f6f6
    margin 0px

.box
    background-color: #fff
    border 1px solid #d6d6d6
    width: 500px
    border-radius:  8px
    //margin-right: auto;
    //margin-left: auto;
    //margin-top 200px
    margin 200px auto
    padding: 15px
    .btn-info
        width: 100%
.header
    background-color: #0dcaf0
    text-align: center
    margin 0
    padding: 10px
